In [4]:
import pandas as pd

df = pd.read_csv('C:/Users/thous/OneDrive/Desktop/NUH/test.csv', encoding= 'utf-8')

df.head()

         Enter Room         Exit Room Room   Team Category
0  02-01-2020 09:00  02-01-2020 12:59    X   Beta       IV
1  02-01-2020 13:15  02-01-2020 17:49    X   Beta       IV
2  02-01-2020 09:22  02-01-2020 15:57    Y   Beta       IV
3  03-01-2020 09:56  03-01-2020 13:47    X  Alpha      III
4  03-01-2020 08:51  03-01-2020 13:49    Y   Beta       IV

In [5]:
df[['Enter Room', 'Entertime']] = df['Enter Room'].str.split(' ', expand=True)
df[['Exit Room', 'Exittime']] = df['Exit Room'].str.split(' ', expand=True)

df.head()

   Enter Room   Exit Room Room   Team Category Entertime Exittime
0  02-01-2020  02-01-2020    X   Beta       IV     09:00    12:59
1  02-01-2020  02-01-2020    X   Beta       IV     13:15    17:49
2  02-01-2020  02-01-2020    Y   Beta       IV     09:22    15:57
3  03-01-2020  03-01-2020    X  Alpha      III     09:56    13:47
4  03-01-2020  03-01-2020    Y   Beta       IV     08:51    13:49

In [6]:
df.isnull().values.any()

False

In [38]:
df.dtypes

Enter Room    object
Exit Room     object
Room          object
Team          object
Category      object
Entertime     object
Exittime      object
dtype: object

In [28]:
df['Enter Room'].equals(df['Exit Room'])

True

In [39]:
df["Enter Room"] = pd.to_datetime(df["Enter Room"])
df["Exit Room"] = pd.to_datetime(df["Exit Room"])
df["Entertime"] = pd.to_datetime(df["Entertime"])
df["Exittime"] = pd.to_datetime(df["Exittime"])
df.dtypes

Enter Room    datetime64[ns]
Exit Room     datetime64[ns]
Room                  object
Team                  object
Category              object
Entertime     datetime64[ns]
Exittime      datetime64[ns]
dtype: object

In [47]:
for index, row in df.iterrows():
    if df.Entertime[index] > df.Exittime[index]:
        print("false")
else:
    print("true")

true